<p>Bitbucket has the following space stations:</p>
<p>
<b>Earth's Moon</b><br>
Headquarters
</p>
<p>
<b>Mars</b><br>
Recreation Department
</p>
<p>
<b>Venus</b>
One things department
</p>
<p>
<b>Earth</b>
The place for life.
</p>